.height{
  background-color: red;
  margin-right: 10px;
  float: left;
  width: 20px;
}
.height-1px{
  height: 1px;
}
.height-1pt{
  height: 1px;
}
.form-group{
  padding-top: 60px;
}
.fillpt{
  width: 1920pt;
  height: 20px;
  background-color: green;
}