.star-flex1{
  display: flex;
  align-items: center;
}
.star-flex-item{
  flex:1
}
.star-textover{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.star-avatar{
  width: 40px;
  height: 40px;
}
.star-side-main{
  height: calc(100% - 57px);
  width: 100%;
}
.star-text-center{
  text-align: center;
}